<h1 class="text-2xl font-bold mt-3">Nested Selectors</h1>
<hr class="my-4" />
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 m-6">
  <form class="w-full items-center justify-center" [formGroup]="myForm">
    <!-- Region -->
    <div class="mb-6">

      <label class="block text-sm font-medium text-gray-700 mb-2">Continent:</label>
      <select formControlName="region" class="select select-info">
        <option value="">-- Seleccione Continente --</option>

        @for (region of regions(); track region) {
        <option [value]="region">
          {{ region }}
        </option>
        }
      </select>

    </div>

    <!-- Countries -->
    <div class="mb-6">
      <label class="block text-sm font-medium text-gray-700 mb-2">Country:</label>
      <select formControlName="country" class="select select-info">
        <option value="">-- Seleccione País --</option>

        @for (country of countriesByRegion(); track country.cca3) {
        <option [value]="country.cca3">
          {{ country.name.common }}
        </option>
        }
      </select>
    </div>

    <!-- Borders -->
    <div class="mb-6">
      <label class="block text-sm font-medium text-gray-700 mb-2">Borders:</label>
      <select formControlName="border" class="select select-info">
        <option value="">-- Seleccione la frontera --</option>

        @for (country of borders(); track country.cca3) {
        <option [value]="country.cca3">
          {{ country.name.common }}
        </option>

        }
      </select>
    </div>
  </form>

  <div class="mt-8">
    <h3 class="text-xl font-semibold mb-4">Form</h3>
    <code class="block p-4 bg-gray-100 rounded-md">
    <!-- {{ 'myForm.value' | json }} -->
      <p>is form valid: {{ myForm.valid }}</p>
      <p>Value: {{ myForm.value | json }}</p>
  </code>
  </div>
</div>
