  <table class="table w-full mt-5">
    <thead>
      <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Capital</th>
        <th>Population</th>
      </tr>
    </thead>
    <tbody>
      @for( country of countries(); track country.cca2; let index = $index){
        <tr class="font-semibold">
          <td>{{index + 1}}</td>
          <td>{{country.flag}}</td>
          <td><img [src]="country.flagSvg" [alt]="country.name" class="w-8"></td>
          <td>{{country.name}}</td>
          <td>{{country.capital}}</td>
          <td ><div class="badge badge-secundary ">{{country.population | number}}</div></td>
          <td>
            <a class="link-primary cursor-pointer" [routerLink]="['/country/by', country.cca2]">More info ...</a>
          </td>
        </tr>
      }
      @if(errorMessage()){
        <tr>
          <td colspan="8" class="text-center text-red-500">
            {{errorMessage()}}
          </td>
        </tr>
      }

      @if(countries().length === 0){
        <tr>
          <td colspan="8" class="text-center">
            No countries found.
          </td>
        </tr>
      }

      @if(isLoading()){
        <tr>
          <td colspan="8" class="text-center">
            Searching for countries...
          </td>
        </tr>
      }
    </tbody>
  </table>
