<div
class="hero min-h-screen "
style="background-image: url(/assets/img/chicago_mepco_background.png);"
>
<app-header></app-header>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Fast & Flexible Payment Plan Services</h1>
      <p class="my-5">
        Mepco provides the tools to make providing payment plans simple and convenient. Our success is based on offering flexible, personalized service to each of our customers. With its online account management system and team of customer service representatives, Mepco is dedicated to helping customers easily manage their vehicle service contract payment plans
      </p>
      <button class="btn btn-warning" routerLink="/auth/sign-up">Get Started</button>
    </div>
  </div>
</div>

<section class="py-16 px-4 bg-gray-100">
  <h2 class="text-3xl md:text-4xl font-bold text-center mb-12 text-gray-900">Account Benefits</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-7xl mx-auto">
    <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col">
      <div class="flex flex-row items-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20.962q-3.014-.895-5.007-3.651T5 11.1V5.692l7-2.615l7 2.615V11.1q0 3.454-1.993 6.21T12 20.963m0-1.062q2.425-.75 4.05-2.962T17.95 12H12V4.144L6 6.375v5.156q0 .194.05.469H12z"/></svg>
        <h3 class="text-xl font-semibold text-gray-800 ml-2 ">Make secure payments</h3>
      </div>
      <p class="text-gray-600 flex-grow">
        Easily view and update account information. Sign up for automatic payments.
        First-Time Users: Please refer to your Welcome Letter sent to you in the mail for your login information.
      </p>
    </div>

    <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col">
      <div class="flex flex-row items-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20.962q-3.014-.895-5.007-3.651T5 11.1V5.692l7-2.615l7 2.615V11.1q0 3.454-1.993 6.21T12 20.963m0-1.062q2.425-.75 4.05-2.962T17.95 12H12V4.144L6 6.375v5.156q0 .194.05.469H12z"/></svg>
        <h3 class="text-xl font-semibold text-gray-800">For Plan Administrators</h3>
      </div>
      <p class="text-gray-600 flex-grow">
        Mepco gives you the tools to boost your market penetration and increase sales.
        Mepco makes it effortless by offering your customers interest-free payment plans.
        Your service contract sellers can sign up today by calling us and following voice prompts.
      </p>
    </div>

    <div class="rounded-2xl border border-gray-200 bg-white p-6 shadow-sm hover:shadow-md transition-shadow duration-300 flex flex-col">
       <div class="flex flex-row items-center mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20.962q-3.014-.895-5.007-3.651T5 11.1V5.692l7-2.615l7 2.615V11.1q0 3.454-1.993 6.21T12 20.963m0-1.062q2.425-.75 4.05-2.962T17.95 12H12V4.144L6 6.375v5.156q0 .194.05.469H12z"/></svg>
        <h3 class="text-xl font-semibold text-gray-800">For Dealerships</h3>
      </div>
      <p class="text-gray-600 flex-grow">
        Mepco offers an innovative payment platform, providing a payment plan solution
        for Dealerships looking to increase volume and profitability on their Service Contract sales.
      </p>
    </div>
  </div>
</section>
  <section class="py-16 ">
    <div class="container mx-auto px-4 max-w-6xl text-center">
      <h2 class="text-4xl font-bold text-gray-900 mb-8">The Secret of Success</h2>

      <p class="text-gray-700 text-lg leading-relaxed max-w-4xl mx-auto">
        Mepco is committed to giving our customers and administrators the finest service possible. Whenever you have a
        question or need our assistance, we offer several ways to contact us. Our customer service representatives are
        available to serve you between the hours of 8 am to 5 pm CST Monday - Friday. Access your account information 24
        hours a day through our toll-free automated system. If you know your Mepco account number, call us and follow the
        voice prompts to hear account information.
      </p>
    </div>
  </section>








