<header class="fixed top-0 left-0 w-full z-50 bg-black/30 backdrop-blur-md">
  <div class="container mx-auto px-4 py-4">
    <nav class="flex items-center justify-between font-semibold">
      <div class="text-white text-2xl font-bold"><img class="header-logo-img" src="../assets/img/mepco-logo.png" alt="Mepco"  /></div>
      <div class="hidden md:flex items-center space-x-8">
        <a href="#" class="text-white hover:text-warning transition-colors">Services</a>
        <a href="#" class="text-white hover:text-warning transition-colors">About</a>
        <a href="#" class="text-white hover:text-warning transition-colors">Contact</a>
        <a
          href="auth/login"
          class="border border-white px-4 py-2 rounded hover:bg-white hover:text-black text-white transition-colors"
        >
          Login
        </a>
      </div>
    </nav>
  </div>
</header>






